<% if !@projects.empty? %>

  Lista projektów:
  <il>

  <% @projects.each do |project| %>
    <li>
      <b><%=h project.name%></b>
        <ul>
          <% project.users.each do |user| %>
            <li><%=h %></li>
          <% end %>
        </ul>
    </li>
  <% end %>

  </il>


<% end %>